{% extends "base_template.html" %}
{% block title %}Eliminar vlan{% endblock %}
{% block menu %}
    <a href="{{url_for('nueva_vlan')}}">nueva vlan</a><br/>
    <a href="{{url_for('ver_vlans')}}">ver vlans</a><br/>
    <a href="{{url_for('eliminar_vlan')}}">eliminar vlan</a><br/>
{% endblock %}
{% block content %}
    
    <form action="{{url_for('eliminar_vlan')}}" method="post">
        <label for="numero">numero: </label>
        <input type="text" id="numero" name="numero" /><br>
        <input type="submit" id="remove-vlan" name="removevlan" value="Eliminar vlan" />
    </form>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}