{% extends "base_template.html" %}
{% block title %}Nueva vlan{% endblock %}
{% block menu %}
    <a href="{{url_for('nueva_vlan')}}">nueva vlan</a><br/>
    <a href="{{url_for('ver_vlans')}}">ver vlans</a><br/>
    <a href="{{url_for('eliminar_vlan')}}">eliminar vlan</a><br/>
{% endblock %}
{% block content %}
    
    <form action="{{url_for('nueva_vlan')}}" method="post">
        <label for="numero">numero: </label>
        <input type="text" id="numero" name="numero" /><br>

        <label for="nombre">nombre: </label>
        <input type="text" id="nombre" name="nombre" /><br>

        <label for="id_subred">identificador de subred: </label>
        <input type="text" id="id_subred" name="id_subred" /><br>
        
        <label for="mascara_subred">mascara de subred: </label>
        <input type="text" id="mascara_subred" name="mascara_subred" /><br>
        
        <label>interfaces Switch1: </label><br/>
        {%for i in range(4, 14)%}
        <label for="1f0/{{i}}" >0f/{{i}}</label>
        <input type="checkbox" id="1f0/{{i}}" value="0/{{i}}" name="sw1" />
        {% endfor %}
        <br/><br/>
        <label>interfaces Switch2: </label><br/>
        {%for i in range(8, 15)%}
        <label for="2f0/{{i}}" >0f/{{i}}</label>
        <input type="checkbox" id="2f0/{{i}}" value="0/{{i}}" name="sw2" />
        {% endfor %}
        <br/><br/>
        <label>interfaces Switch3: </label><br/>
        {%for i in range(0, 3)%}
        <label for="3f0/{{i}}" >0f/{{i}}</label>
        <input type="checkbox" id="3f0/{{i}}" value="0/{{i}}" name="sw3" />
        {% endfor %}
        {%for i in range(8, 14)%}
        <label for="3f0/{{i}}" >0f/{{i}}</label>
        <input type="checkbox" id="3f0/{{i}}" value="0/{{i}}" name="sw3" />
        {% endfor %}
        
        <br/><br/>
        <input type="submit" id="create-vlan" name="createvlan" value="Crear vlan" />
    </form>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
