{% extends "base_template.html" %}
{% block title %}vlans registradas{% endblock %}
{% block menu %}
    <a href="{{url_for('nueva_vlan')}}">nueva vlan</a><br/>
    <a href="{{url_for('ver_vlans')}}">ver vlans</a><br/>
    <a href="{{url_for('eliminar_vlan')}}">eliminar vlan</a><br/>
{% endblock %}
{% block content %}
    <table rules="all">
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>ID subred</th>
            <th>Mascara subred</th>
            <th>Default Gateway</th>
            <th>Interfaces Asociadas al Switch 1</th>
            <th>Interfaces Asociadas al Switch 2</th>
            <th>Interfaces Asociadas al Switch 3</th>
        </tr>
        {% for vlan in value %}
            <tr>
                {% for elemento in vlan %}
                <td>{{elemento}}</td>
                {% endfor%}
            </tr>
        {% endfor %}
    </table>
    
        
    {% endblock %}